ion-content{

   // --background:#dee0e4;

    p{
        font-size: 16px;
        font-weight: 300;
       // color:#8c8c8c;
        margin:0;
    }

}
.subrayado {
  text-decoration: underline;
}
ion-item.ion-activatable {
    --highlight-color-focused: #ff0000; /* Color de resaltado al enfocar el elemento */
    --highlight-color-activated: #ff0000; /* Color de resaltado al activar el elemento */
  }
  

  // Tema oscuro
$color-fondo-oscuro: #333;
$color-texto-oscuro: #fff;

// Tema claro
$color-fondo-claro: #f2f2f2;
$color-texto-claro: #333;

  ion-action-sheet.my-custom-class {
    --background: #f3fafc;
    --backdrop-opacity: 0.6;
    --button-background-selected: #404934;
    --button-color: #2a2b25;
    --color: #1f1d1d;
    /* role: "destructive" button iOS styling override */
    --ion-color-danger: #494545;
  }
  .block {
    
    
    align-items: center;
    justify-content: center;
  }

  ion-modal {
    --height: 90%;
    --border-radius: 16px;
    max-width: 700px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }
  /* Define la animación */
/* Define la animación para la sombra parpadeante */
@keyframes flashing {
  0% {
    box-shadow: 0 0 10px rgba(235, 7, 7, 0.3); /* Sombra inicial */
  }
  50% {
    box-shadow: 0 0 20px rgba(134, 6, 6, 0.7); /* Sombra intermedia (más intensa) */
  }
  100% {
    box-shadow: 0 0 30px rgba(61, 1, 1, 0.3); /* Sombra final (vuelve al normal) */
  }
}

/* Aplica la animación al ion-card */
.flashing-shadow {
  animation: flashing 2s infinite; /* 2 segundos de duración, se repite infinitamente */
}

