<ion-header>
  <ion-header>
    <ion-toolbar>
     
      <ion-buttons slot="end" >
        <ion-button [routerLink]= "['/home']" >
          <ion-icon class="color" style="width: 22px;" name="home" slot="icon-only"></ion-icon>
          
        </ion-button>
        <ion-button [routerLink]= "['/usuario']"   >
          <ion-icon class="color" name="person-circle-outline" slot="icon-only"></ion-icon>
          
        </ion-button>
        
        </ion-buttons>

        <ion-buttons slot="start">
          <ion-menu-button style="color: #ffc107"></ion-menu-button>
        </ion-buttons>
      <ion-title class="subtitulo" style="text-align: center;">Presupuesto</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-header>

<ion-content [fullscreen]="true" style.color="black" >

  <ion-card class="normal" style="background: linear-gradient(#121212, #ffffff);" >

    <h1 style="text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); color: white;" class=" subtitulo p-3 text-center encabezado">{{encabezado}}</h1>
  <div  >
    <ion-segment #segment [scrollable]="true" (ionChange)="changeSegment($event)" style="max-width: 400px; margin-left: auto; margin-right: auto;" mode="ios"  [value]= segmentoSeleccion>
      <ion-segment-button value="Todos">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Pendiente">
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Completado">
        <ion-label>Completados</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-card *ngFor="let tarea of todoList" class="ion-margin" style="max-width: 350px; margin-left: auto; margin-right: auto;">
      
        <ion-card-deader>
        <ion-card-subtittle >
          <div style=" text-align: center;margin-left: -41px;"><ion-label class="subtitulo"  [style.color]="tarea.status === 'Completado'? '#72e776 !important' :'#ef3535 !important'">{{tarea.status}}</ion-label>
          </div>
        </ion-card-subtittle>
       
        <ion-item class="normal">
          <ion-icon *ngIf="tarea.categoria === 'Fijo'" color="danger" size="small" name="ellipse"></ion-icon>
          <ion-icon *ngIf="tarea.categoria === 'Variable'" color="success" size="small" name="ellipse"></ion-icon>
          <ion-icon *ngIf="tarea.categoria === 'Esporadico'" color="warning" size="small" name="ellipse"></ion-icon>
          <ion-label style="text-align: center; margin-left: -61px;" class="subtitulo">{{tarea.descripcion}}</ion-label>
        </ion-item>
      </ion-card-deader>

      <ion-card-content style="text-align: center;" class="normal">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label class="normal" style="font-weight: 600;
              text-align: center;
              font-size: 18px !important;">Detalles</ion-label>
            </ion-item>
            <ion-label style="font-weight: 650;" class="normal" [style.color]="tarea.categoria === 'Fijo'? '#DC143C': (tarea.categoria === 'Variable'? 'green': (tarea.categoria === 'Esporadico'? 'orange': 'green'))">
            {{tarea.categoria}}</ion-label>
            <div class="normal p-1" slot="content"><ion-label style="font-weight: 700;">Subcategoria: </ion-label>{{tarea.subcategoria}}</div>
            <div class="normal p-1" slot="content"><ion-label style="font-weight: 700;">Recurrencia: </ion-label> {{tarea.categoria}}</div>
            <div class="normal p-1" slot="content"><ion-label style="font-weight: 700;">Quincena: </ion-label> {{tarea.quincena}}</div>
            <div class="normal p-1" slot="content"><ion-label style="font-weight: 700;">Monto: </ion-label> {{tarea.monto | number}} $RD</div>
          </ion-accordion>
          
          
          </ion-accordion-group>
        <ion-label class="normal">Fecha: {{tarea.fecha | fechaLarga  }}</ion-label>
      </ion-card-content>

        <ion-row style="display: flex;
        justify-content: center;
        align-items: center;">

        

<ion-item button class="ion-activatable" (click)="edit(tarea); modal.present()">
            
  <p><ion-icon name="pencilcreate-outline"></ion-icon> Editar</p>
</ion-item>

          <ion-item *ngIf="tarea.status=== 'Completado'" button class="ion-activatable" (click)="completar(tarea); tarea.status='Pendiente'">
            <p ><ion-icon name="close-outline"></ion-icon> Deshacer</p>
          </ion-item>
          <ion-item *ngIf="tarea.status=== 'Pendiente'" button class="ion-activatable" (click)="completar(tarea); tarea.status='Completado'">
            <p><ion-icon name="checkmark-outline"></ion-icon> Completar</p>
          </ion-item>

          <ion-item button class="ion-activatable" (click)="eliminar(tarea)">
            
            <p><ion-icon name="trash-outline"></ion-icon> Eliminar</p>
          </ion-item>
        </ion-row>


    </ion-card>
  </div>
  
  </ion-card>
  
 
    
    
     
      <ion-modal mode="ios" #modal style="margin-right: auto; padding: 5%; margin: auto;"   >
       
      
        <ng-template >
          <ion-content style="--background: #fff;">
          <ion-header>
            <ion-toolbar translucent> 
              <ion-button slot="end" fill="clear" (click)="modal.dismiss()">
                
                <ion-icon color ="danger"  slot="end" name="close"></ion-icon>
              </ion-button>
              <ion-title>{{tituloAgregarTarea}}</ion-title>
              
            </ion-toolbar>
          </ion-header>

          
          <form style="margin-top: 15px;" [formGroup]="myForm" novalidate>
            <ion-card style= " max-width: 400px; margin: auto; padding: 2%;">
           <ion-list style=" margin-top: 5px; margin: 2%;"> 


           
              <ion-item> 
                
                <label style="font-weight: 600;" class="nomal">Descripcion: </label>
                <ion-input class="normal"   clearInput formControlName="descripcion"  required="true" [(ngModel)]="newtarea.descripcion" type="string" inputmode="text"></ion-input>
              </ion-item>
              
           
              
              <ion-list class="normal" [ngModelOptions]="{standalone: true}">
                <ion-item id="open-modal2">
                  <ion-label class="normal " style="   font-weight: 600; margin-left: 3px;">Fecha:</ion-label>
                  <ion-note class="normal" slot="end">{{date}}</ion-note>
                </ion-item>
                <ion-modal trigger="open-modal2" [cssClass]="'bottom-end'"  (willDismiss)="onWillDismiss($event)">
                  <ng-template>
                    
                    <ion-datetime [ngModelOptions]="{standalone: true}"
                      presentation="tarea.fecha"
                      [(ngModel)]="date"
                      size="cover"
                      [showDefaultButtons]="true"
                      doneText="Seleccionar" cancelText="Cancelar"
                      displayFormat="YYYY-MM-DD"
                      (ionChange)="fechaa()"
                    ></ion-datetime>
                  </ng-template> </ion-modal >
            </ion-list>
            <ion-item>
            <ion-label style="font-weight: 600;" class="normal " > 
              Quincena:
             </ion-label>
            <ion-select  id="quincena" class="normal" clearInput="true"  formControlName="quincena"  required="true" mode="ios" label="quincena:"  interface="popover" [(ngModel)]= "newtarea.quincena" placeholder="Seleccionar">
              <ion-select-option  value="Primera">Primera Quincena</ion-select-option>
              <ion-select-option  value="Segunda">Segunda Quincena</ion-select-option>
          

            </ion-select>
          </ion-item>

            <ion-item>

              <ion-label style="font-weight: 600;" class="normal " > 
                Recurrencia:
               </ion-label>
              <ion-select #selectcategoria id="categoria" class="normal" clearInput="true"  formControlName="categoria"  required="true" mode="ios" label="categoria: "  interface="popover"  [(ngModel)]= "newtarea.categoria" placeholder="Seleccionar">
                <ion-select-option  value="Fijo">Fijo</ion-select-option>
                <ion-select-option  value="Variable">Variable</ion-select-option>
                <ion-select-option  value="Esporadico">Esporadico</ion-select-option>
                
 
              </ion-select>
            </ion-item>

            <ion-item>

              <ion-label style="font-weight: 600;" class="normal " > 
                Subcategoria:
               </ion-label>
              <ion-select #selectsubcategoria id="selectsubcategoria" class="normal" clearInput="true"  formControlName="subcategoria"  required="true" mode="ios" label="Subcategoria:"  interface="popover" [(ngModel)]= "newtarea.subcategoria" placeholder="Seleccionar">
                <ion-select-option  value="Ahorro">Ahorro</ion-select-option>
                <ion-select-option  value="Combustible">Combustible</ion-select-option>
                <ion-select-option  value="Alimentos">Alimentos</ion-select-option>
                <ion-select-option  value="Prestamo">Prestamo</ion-select-option>
                <ion-select-option  value="Deudas">Deudas</ion-select-option>
                <ion-select-option  value="Diezmo">Diezmo</ion-select-option>
                <ion-select-option  value="Emely">Emely</ion-select-option>
                <ion-select-option  value="Entretenimiento">Entretenimiento</ion-select-option>
                <ion-select-option  value="Comunicaciones">Comunicaciones</ion-select-option>
                <ion-select-option  value="Kenyi">Kenyi</ion-select-option>
                <ion-select-option  value="Luz Electrica">Luz electrica</ion-select-option>
                <ion-select-option  value="Motor">Motor</ion-select-option>
                <ion-select-option  value="Otros">Otros</ion-select-option>
 
              </ion-select>
            </ion-item>
            <ion-item>
              <label  style="font-weight: 600;" class="nomal ">Monto: </label>
              <ion-input label="Monto: " clearInput  formControlName="monto" required="true"  [(ngModel)]="newtarea.monto " type="number" inputmode="number"></ion-input>
            </ion-item>


            <ion-row style=" margin: auto; padding: 10px">
              <ion-buttons  style=" margin: auto;" >
                <ion-button style="width: 95px;" shape="round" fill="outline"  color= "danger"  (click)="modal.dismiss()">Cancelar</ion-button>
              
                <ion-button style="width: 95px; margin-left: 10px;" shape="round" fill="solid"   color= "primary" (click)="agregarTarea()">Agregar</ion-button>
              </ion-buttons>
            </ion-row>
           
           </ion-list>
          </ion-card>
          
         
          </form>
           
        </ion-content>
       
        </ng-template>
        
      
      </ion-modal>
    


 
  <ion-modal #modal2 style=" height: auto; margin-right: auto; padding: 5%; margin: auto;
  .ion-page {
  position: relative;
  contain: layout style;
  height: auto;}" >
    <ng-template>
      <ion-content style="--background: #fff;">
        <ion-toolbar translucent> 
          <ion-button slot="end" fill="clear" (click)="modal2.dismiss()">
            
            <ion-icon color ="danger"  slot="end" name="close"></ion-icon>
          </ion-button>
          <ion-title style="text-align: center; font-weight: bold;">Elegir Quincena</ion-title>
          
        </ion-toolbar>
        
        <ion-list style="padding: 5%; margin-top: 30px; margin: 5%;">
          <ion-item >
            <ion-checkbox mode="ios" #check1 [(checked)]="valorcheck1" (ionChange)="onChange($event)" justify="start"></ion-checkbox>
            <label style="margin-left: 5px" class="normal">  Primera Quincena</label>
          </ion-item>
          <ion-item>
            <ion-checkbox mode="ios" #check2 [(checked)]="valorcheck2" (ionChange)="onChange2($event)" justify="start"></ion-checkbox>
            <label style="margin-left: 5px" class="normal">  Segunda Quincena</label>
          </ion-item>
         
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>


 
</ion-content>

<ion-footer>
  <ion-toolbar><ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button  style="color: #ffc107"  (click)="modal2.present()">
        <ion-icon  name="calendar"></ion-icon>
        Quincena
      </ion-tab-button>
      

      <ion-tab-button  style="color: #ffc107"  (click)="limpiar();modal.present(); " >
        <ion-icon  name="add-circle"></ion-icon>
        Agregar Nueva
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
  
 </ion-footer>
