<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" >
      <ion-button [routerLink]= "['/usuario']"   >
        <ion-icon class="color" name="person-circle-outline" slot="icon-only"></ion-icon>
        
      </ion-button>
      
    
      
      </ion-buttons>

      <ion-buttons slot="start">
        <ion-menu-button style="color: #ffc107"></ion-menu-button>
      </ion-buttons>
    <ion-title class="subtitulo" style="text-align: center; margin-right: 5%;">
      Dashboard
    </ion-title>
    
 
  </ion-toolbar>
</ion-header>


 <ion-content scroll-y>


  

  <ion-card>
    <h2 class="subtitulo" style="text-align: center;">Comportamiento de Ingresos vs Gastos</h2>

    <div style="margin-right: 5% ;margin-left: 5%;">
      <ion-segment (ionChange)="changeSegment($event)" value="Todo" scrollable="true" mode="ios">
        <ion-segment-button value="Todo">
          <ion-label>Todo</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Gastos">
          <ion-label>Gastos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Ingresos">
          <ion-label>Ingresos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <ion-card-content >
      <canvas #barChart style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
 

</ion-card>


<ion-card >
  <h2 class="subtitulo" style="text-align: center;">Gastos por Categoria de {{mesSeleccion.charAt(0).toUpperCase()+mesSeleccion.slice(1)}}</h2>

  <div style="margin-right: 1% ;margin-left: 1%;">
    <ion-segment  (ionChange)="changeSegment2($event)" #segment  scrollable="true" mode="ios" >
     
      <ion-segment-button *ngFor="let mes of meses"  [value]=mes>
        <ion-label>{{mes}}</ion-label>
      </ion-segment-button>
   
      
    </ion-segment>
  </div>

  <ion-card-content style="text-align: center;" >
    <canvas #doughnutChart style="position: relative; height:20vh; width:50vw"></canvas>
  <ion-chip style="    margin-top: 5px;" class="subtitulo">Total: {{totales.gastos.toFixed(0) | number}} RD$</ion-chip>
  </ion-card-content>


</ion-card>



</ion-content> <!--The content below is only a placeholder and can be replaced.-->


