.scroll{
    flex-wrap: nowrap;
    overflow-x: scroll!important;
    overflow-y: hidden;
    }

    ion-grid{
        height: 100%;
    }
    ion-row{
        display: flex;
        align-items: center;
        justify-content: center;
         ion-col{width: auto;}
         border: solid 1px #f3eded;
        
    }
    ion-note{
      margin-left: 5px;
    }
    ion-label{
      font-weight: 400;

    }
   
    
    
   

    .contenedor{
        padding: 2%!important;
        border-style: double;
        border-radius: 25px!important;
        margin-left: 10%!important;
        margin-right: 10%!important;
        margin-top: 10px;
        margin-bottom: 30px !important;
        
        
        @media screen and (max-width:590px) {
        
          padding-left: 1%;
        padding-right: 1%!important;
        margin-left: 5%!important;
        margin-right: 5%!important;
        
        }
        }
        .my-custom-class .action-sheet-group {
            background: #e5e5e5;
            text-align: center;
            align-items: start;
          }

ion-button{
  width: auto;
  margin: 10px;
}


    .header-row {
      
        color: #fff;
        border: 1px solid #aeb7ca;
 
      }
      
      .agregar {
        --background: #ffc107;
        --background-activated: #f7cb48;
        --background-hover: #98813b;
        --border-radius: 15px;
        --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
        --color: black;
      }      

      .colorB{
        background-color: #ffc107;
      }